@model IEnumerable<SlideItem>
@{
    ViewData["Title"] = "Index";
}

  <div class="col-lg-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">SLide Items</h4>
                  <a asp-action="Create">Create Slide</a>
                  <p class="card-description">
                    Add class <code>.table-striped</code>
                  </p>
                  <div class="table-responsive">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th>
                           Image
                          </th>
                          <th>
                            Offer
                          </th>
                          <th>
                            Title
                          </th>
                          <th>
                            Actions
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                          @foreach (var slide in Model)
                        {
                                <tr>
                              <td class="py-1">
                                        <img src="~/assets/images/website-images/@slide.Photo" alt="image"/>
                              </td>
                              <td>
                                    @slide.Offer
                              </td>
                                   <td>
                                    @slide.Title
                                  </td>
                              <td>
                                <div class="progress">
                                  <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                              </td>
                              <td>
                                        <a asp-action="Detail" asp-route-id="@slide.Id" class="btn btn-primary" ><i class="mdi mdi-information-outline" style="color:white"></i></a>
                                        <a asp-action="Update" asp-route-id="@slide.Id" class="btn btn-warning"><i class="mdi mdi-grease-pencil" style="color:white"></i></a>
                                   
                                    <a asp-action="Delete" asp-route-id="@slide.Id" class="btn btn-danger @(ViewBag.Count==1?"disabled":"")"><i class="mdi mdi-delete" style="color:white"></i></a>
                              </td>
                            </tr>
                        }
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
